@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	font-family: 'Pacifico', cursive;
	background: #c31432; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#240b36,
		#c31432
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#240b36,
		#c31432
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.margin-center {
	margin: 10% 25%;
}

.rainbow-text {
	background-image: linear-gradient(
		to left,
		violet,
		indigo,
		blue,
		green,
		yellow,
		orange,
		red
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
